#question,
#result {
  display: none;
}

#question {
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
}

.blur-layer {
  transition: all 2s;
  height: 100%;
  width: 100%;
}

.cover-image {
  height: 100%;
  width: 100%;
}

.effect-layer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  will-change: transform;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.effect-layer-background img {
  transition: opacity 2s;
  position: absolute;
  width: 60%;
  height: auto;
  opacity: 0;
  will-change: transform;
  mix-blend-mode: luminosity;
  transform: translate(-50%, -50%);
}

#test {
  position: fixed;
  left: 0%;
  width: 100%;
  z-index: 4;
  text-align: center;
  top: 40px;
  height: calc(100% - 80px);
}
