@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.top-bar {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 0 1.75rem;
}

.top-bar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}

.age-title,
#age-form,
.start-title,
#start {
  transition: opacity 1s;
}

.age-title,
#age-form {
  opacity: 0;
  display: none;
}

#start {
  margin-top: 70px;
}

#result-container {
  display: none;
}

#question,
#result-container {
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-layer {
  transition: all 2s;
  height: 100%;
  width: 100%;
}

.cover-image {
  height: 100%;
  width: 100%;
}

.effect-layer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  will-change: transform;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.effect-layer-background img {
  transition: opacity 1s;
  position: absolute;
  width: 60%;
  height: auto;
  opacity: 0;
  will-change: transform;
  mix-blend-mode: luminosity;
  transform: translate(-50%, -50%);
}

.test-container {
  position: fixed;
  left: 0%;
  width: 100%;
  z-index: 4;
  text-align: center;
  top: 0;
  height: calc(100% - 180px);
  display: grid;
  place-items: center;
}

#test {
  transition: all 1s;
}

.question-text {
  max-width: 80vw;
  margin: 0 auto;
}

.question-text,
.option,
#test form input,
.result .title {
  font-size: 2rem;
  font-weight: 300;
}

#test form input {
  margin-top: 1.875rem;
  width: 20.25rem;
  border: 2px solid #fff;
  border-radius: 10rem;
  padding: 1rem;
  transition: all 0.25s;
  outline: none;
  text-align: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 1.875rem;
}

.option {
  width: 20.25rem;
  border: 2px solid #fff;
  border-radius: 10rem;
  cursor: default;
  padding: 1rem;
  transition: all 0.25s;
  background: transparent;
  color: #fff;
}

.option:hover {
  background-color: #fff;
  color: #000;
}

.color-question {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 12px;
}

.result {
  position: fixed;
  left: 0%;
  width: 100%;
  z-index: 4;
  text-align: center;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-out;
  opacity: 0;
}

.result .feeling {
  font-size: 14vw;
  font-weight: 300;
  margin-top: 1rem;
  text-transform: capitalize;
}

.result button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 18rem;
}

/* Media queries */

@media only screen and (min-width: 600px) {
  .question-text,
  .option,
  #test form input,
  .result .title {
    font-size: 3.125rem;
    letter-spacing: -1px;
  }

  .result .feeling {
    font-size: 5vw;
    letter-spacing: -1px;
  }
}

/* Animations */

.bounce-1 {
  animation: moveX 34s linear 0s infinite alternate,
    moveY 15s linear 0s infinite alternate-reverse;
}

.bounce-2 {
  animation: moveXTwo 16s linear 0s infinite alternate,
    moveYTwo 32s linear 0s infinite alternate;
}

.bounce-3 {
  animation: moveX 38s linear 0s infinite alternate-reverse,
    moveY 24s linear 0s infinite alternate-reverse;
}

.bounce-4 {
  animation: moveXTwo 37s linear 0s infinite alternate-reverse,
    moveYTwo 21s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 10%;
  }
  to {
    left: 90%;
  }
}

@keyframes moveXTwo {
  from {
    left: 30%;
  }
  to {
    left: 80%;
  }
}

@keyframes moveY {
  from {
    top: 10%;
  }
  to {
    top: 90%;
  }
}

@keyframes moveYTwo {
  from {
    top: 20%;
  }
  to {
    top: 80%;
  }
}
