@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

#question,
#result {
  display: none;
}

#question {
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-layer {
  transition: all 2s;
  height: 100%;
  width: 100%;
}

.cover-image {
  height: 100%;
  width: 100%;
}

.effect-layer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  will-change: transform;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.effect-layer-background img {
  transition: opacity 2s;
  position: absolute;
  width: 60%;
  height: auto;
  opacity: 0;
  will-change: transform;
  mix-blend-mode: luminosity;
  transform: translate(-50%, -50%);
}

.test-container {
  position: fixed;
  left: 0%;
  width: 100%;
  z-index: 4;
  text-align: center;
  top: 0;
  height: calc(100% - 180px);
  display: grid;
  place-items: center;
}

.question-text,
.option {
  font-size: 7vw;
  font-weight: 300;
  letter-spacing: -1px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 1.875rem;
}

.option {
  width: 20.25rem;
  border: 2px solid #fff;
  border-radius: 10rem;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.25s;
}

.option:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (min-width: 600px) {
  .question-text,
  .option {
    font-size: 3vw;
  }
}
